[2019-08-13 05:23] fxfactorial commented on #150
Also tried and no results in emacs, did clear cache and reboot.

[2019-08-13 21:44] DannyJJK commented on #150
This looks like it's an issue to do with the syntax highlighting, it works for me in GoLand.

Doesn't work in VS Code, but works in Terminal.app and TextEdit.app. I'm incredibly happy with this font though and I really appreciate all the work going into it, I know these issues are complicated

[2019-08-13 22:13] Porges commented on #150
I think it is the syntax highlighting, notice that the `#` is coloured different to the `TODO`? they're probably in different text spans and the ligature can't cross them

[2019-08-21 10:31] cata0309 opened #152 "This font is"
Awesome !
This is not a typical issue so you can close it after you read it !
Thank you for your amazing work ! I recently found a discussion about your hard start from indiegogo in 2011, I want you to know that I support you and encourage you do continue your work ! It's a great font and you made a tremendous amount of work to get the font at its current state.
Thank you !

[2019-08-22 09:43] fabrizioschiavi commented on #152
This is the best issue ever 😃 !
Thank you really much @cata0309 !

[2019-08-22 10:09] #152 closed

[2019-09-06 14:05] peschkaj commented on #145
This is an error in the emacs lisp code, not in the font. The line for `#XEA24` should be:

`(">>="       #XEA24)`

[2019-09-06 14:39] fabrizioschiavi commented on #145
I just corrected the [emacs snippet file](https://github.com/fabrizioschiavi/pragmatapro/blob/master/emacs_snippets/pragmatapro-prettify-symbols-v0.828.el)
It must works now, if not please let me know.
Thanks for letting me discover a missing ligature to be included in the next releases: `>==` and `==<`

[2019-09-13 17:38] cskujbus opened #153 "Visual Studio 2019 crash"
Hi all,
I tried Pragmata Pro in Visual Studio 2019 and in some cases it can cause a FileFormatException or a crash. My project is C# and to reproduce the error, make a documentation comment with triple slash (///) and write the string **return** anywhere in the summary. The comment cannot be folded anymore. Collapse to Definition (Ctrl + M, Ctrl + O) messes up the whole text. Sometimes trying to c

[2019-09-20 20:37] admiralbumblebee opened #154 "Licensing Clarification"
Currently the website license does not seem specify if this license is applicable for desktop usage. Given that this may be part of the development (for some languages), this is potentially an important distinction.

If the website license is purchased, can this be used for a single dest desktop? If not, please specify.

[2019-09-27 16:13] vladimir-poleh commented on #153
I can't confirm it.

Please try to uninstall all copies of the Pragmata Pro and install it again. I had problems with font rendering in the JetBrains products because of multiple font versions installed. Maybe your problem has same nature.

[2019-10-15 14:52] bts opened #155 "Ligatures cause small font size in Windows Terminal"
In the [new Windows Terminal](https://github.com/microsoft/terminal), ligatures in PragmataPro are rendered with a very small font size/line height. I'm not sure whether this is a PragmataPro issue or a Terminal issue, but Windows Terminal does not have any issues with other ligature-enabled fonts like Fira Code.

I am currently using PragmataPro 0.822.

![ligature](https://user-images.githubuserc

[2019-10-24 06:43] arcfide commented on #117
I don't know what's going on, but I wanted to update you and report that this issue appears to be fixed for Pragmata Pro Liga and non-Liga forms, but not for Mono in 0.828 on the latest version of Microsoft Windows for Notepad. I don't know what has change, but I'm closing this issue as it does not appear to be a problem at this point. If it pops back up, I'll reopen.

[2019-10-24 06:43] #117 closed

[2019-11-01 15:26] vladimir-poleh commented on #155
I can't confirm this behavior for the Windows Terminal version 0.6.2951.0.

[2019-11-02 13:34] akrsnr commented on #133
Still not working as well as in Jetbrain's IDEs

[2019-11-02 18:11] bts commented on #155
Using the latest version of PragmataPro this is no longer an issue for me. Thanks!

[2019-11-02 18:11] #155 closed

[2019-11-03 10:26] fabrizioschiavi commented on #154
Sorry for the delay in reply. TTF files of web site pack are technically not usable as desktop font. Thanks for asking

[2019-11-20 04:08] keithrussell42 commented on #134
I've also noticed this. I did notice that on Sublime Text when you create a new file and start typing it uses the text for the tab title until you save the file with a name. On my system (Windows using the Monokai Pro theme which uses my defined font for all UI elements)  the _tab_ has the ligature but the text does not. Other ligatures do work. I have even enabled the "Discretionary Ligature" fon

[2019-11-20 08:56] fabrizioschiavi commented on #134
Thanks friends to let me know this. Very helpful.
We hope in Sublime Text flexibility 😉

[2019-11-23 04:36] keithrussell42 commented on #134
BTW, this also happens in Linux. I've posted in the Sublime Text technical support forum so I'll report back here if I hear anything interesting.

[2019-11-25 02:47] keithrussell42 commented on #134
The Sublime developers have confirmed that for performance reasons runs of alpha-numerics aren't sent to the font engine so these ligatures won't work. At least now I know it's by design. It also explains why the markdown checkboxes don't work.

[2019-11-25 13:36] fabrizioschiavi commented on #134
Thanks @keithrussell42 for this precious information!

[2019-11-30 19:49] amerlyq opened #156 "Wrong glyph і (U+0456) in Mono Bold of 0.828"
Regression(critical): characters U+0456 and U+0458 are wrong in Bold Mono (both liga/non-liga).

ALSO:(non-critical): Similar problem with U+012f.
And U+0296 is incomprehensibly h-mirrored in both mono/non-mono Bold.

There were some other glitches with italics but I temporarily give up :)
Visually comparing overlayed charsets rendered in different styles and searching glitches is harsh :(

[2019-12-01 19:01] meem-zay opened #157 "Emacs settings"
Hi,

Can you please share a complete Emacs settings to use PragmataPro Mono Liga font.

&mdash;
_Emacs Newbie_

[2019-12-01 20:52] fabrizioschiavi commented on #157
**Quick solution**
Copy and paste this code `(set-frame-font "PragmataPro Liga 14" nil t)` on an empty file you'll name `.emacs` and put it in your user folder.
`14` is the point size, you can change the number to increase or reduce the point size

[2019-12-01 23:29] amerlyq opened #158 "How to forcefully reduce line spacing"
I need even more text on screen :)
Can someone provide **instruction how to patch** latest PragmataPro and crop one-two pixels from top and bottom of each line?
I don't really need anything beside en/ru most of the time for coding and mails -- therefore I don't need any space for diacritics or anything alike in terminal with PragmataPro Mono. Plain en lines are able to be tight adjoining just fine

[2019-12-01 23:49] amerlyq opened #159 "Are there any arrows aligned to box drawings?"
Take for example `─→a`.
In, let say *some*, Qt applications horizontal line and arrow are aligned for PragmataPro.
But in terminal with PragmataPro Mono... they are never aligned *sigh*.

I see the point of arrow being slightly below box center -- to be aligned on the baseline of actual text and point to the center of the letter.
Therefore in theory arrows and drawings *must* never align at all.
A

[2019-12-02 00:06] amerlyq opened #160 "Slight gap in drawings"
It's not much notable but still slightly irritates when you look at it in your prompt 12 hours each day contiguously month after month.
Drawings gap appeared and disappeared between PragmataPro versions, becoming more or less of the issue.
And I feel like with 0.828 it had become bigger. Again.

On some font sizes the gap is less visible, but on others -- it gapes.
Look for aliased and antialiased

[2019-12-02 06:12] ElonPark opened #161 "New ligatures request [VERBOSE], # VERBOSE."
Hello, first of all, thanks for the great fonts,
I am making and using a logger, in xcode
like this:
[code]
and it looks like this:
<img width="497" alt="스크린샷 2019-12-02 오후 3 01 18" src="https://user-images.githubusercontent.com/13270453/69934198-9ade2380-1514-11ea-9515-66dd2f9f8362.png">

As you can see, only [VERBOSE] does not apply Rigature.
Can you add [VERBOSE], # VERBOSE like existin

[2019-12-02 08:34] fabrizioschiavi commented on #161
Thanks @ElonPark for this request!
I just added in my Todo list

[2019-12-02 09:17] fabrizioschiavi commented on #159
Unicode Box Drawing set desn't include any arrows.
In the example `─→a` ,  `─` has the priority and the following glyphs like `→` are automatically aligned to `─`. If you try to digit `→a` you can note that arrow is already aligned to lowercases (the default position).
I'll investigate how to improve this situation avoiding absurd conflicts

![PragmataPro-Box-drawing-calt-w](https://user-images.gi

[2019-12-02 09:20] fabrizioschiavi commented on #160
I'll improve this soon, if possible

[2019-12-02 10:58] fabrizioschiavi commented on #158
I did't see any extra white pixel in Vim using PragmataPro.
Anyway you can create a file named `.gvimrc` in Mac or `.vimrc` in Win or Linux with this code:
[code]
Where `-2` is the number of pixels to remove

[2019-12-02 15:30] fabrizioschiavi commented on #156
You've perfectly right 😲
I'll fix soon. Thank you!

[2019-12-02 17:29] amerlyq commented on #159
I think the keyword here is

Because... auto alignement on priority char expects support from GUI app, right?
It seems like "st" doesn't support it, at least in its full meaning:
![20191202_192629_789x259](https://user-images.githubusercontent.com/5730096/69980832-b14aa600-1539-11ea-891a-b5dfe1ba1bad.png)

The only thing I noticed -- is after pressing space after each term, horizontal line of box

[2019-12-02 17:38] amerlyq commented on #158
I haven't talked about *white* pixels, but about line spacing.
It's already low enough, but can be even lower under certain necessities e.g. when most text on your screen is plain english with rare capital letters.

Thanks for a snippet for GUI vim, it's a pity that I use terminal one 100% of a time :)
Of course I will look into patching terminal emulator itself, but screen space utilization affec

[2019-12-02 17:45] amerlyq commented on #161
I'm not against adding more ligatures, but @ElonPark , my extensive experience with embedded screams it's not the right thing to do for logging facility. Because you impose personal restrictions and quirks of only the temporary favor and importance onto something, which must be as simple and straightforward as possible. It may look nice for logs of screen worth but very tiring for longs in thousan

[2019-12-04 18:22] amerlyq opened #162 "Fontconfig: how to create for Mono font synthetic Bold/Italic fallbacks (anybody)"
We have only partial support for Mono styles, e.g:
[code]
Fallback to double-width arrows is inappropriate for at least half of terminal usecases.
And fallback to any of  Source Code Pro, DejaVu Sans Mono or Symbola is unsightly.
Many fonts are visually incompatible with PragmataPro and difference in Italic/Bold for symbols is simply too much.

But I can't even start wrapping my head around how to

[2019-12-04 18:39] VincentKueszter commented on #156
Have you considered integrating an image diff tool into your workflow to check for such regressions?

[2019-12-05 17:07] amerlyq commented on #156
@fabrizioschiavi I would really appreciate if you could update 0.828 with only "U+0456" symbol swapped to correct one and postpone other changes to 0.829 as label says.

Because waiting half a year for 0.829 is not an interesting agenda at all: it's unnerving when browsing the filesystem and emboldened names under cursor abruptly change outline. In the first place filemanager cursor is where you f

[2019-12-20 13:50] vladimir-poleh commented on #150
It's not a font issue. JetBrains products and some other editors use special highlighting for the TODO comments that breaks this ligature.

[2019-12-20 13:55] fabrizioschiavi commented on #150
Thank you Vladimir!!

[2019-12-20 13:55] #150 closed

[2020-01-16 10:29] Tekl commented on #89
Is there a trick to select a system wide default Feature Set for Pragmata Pro on macOS? In some Editors like TextEdit or CotEditor I can select the stylistic stylesets in the Typography panel of the Font selection (via cog menu). But the setting is not saved and Editors like TextMate or Ulysses even don't respect the stylistic settings. So I can't use it anymore with v0.827. Maybe there is a tool

[2020-01-16 14:38] Tekl opened #163 "Named stylistic sets"
Instead of just numbering the style sets you could give them names like in the Fonts Hasklig or Source Code Pro.

![image](https://user-images.githubusercontent.com/3667947/72533881-308c0300-3876-11ea-9e1c-c61896fd35e6.png)

[2020-01-16 16:40] Tekl commented on #89
Btw. using SS12 seems to have bug. When I type Check the Ch will be transformed into C with a ♥ below.

[2020-01-17 09:19] bersace commented on #1
I encounter this issue with fallback font. Patched font does not produce this.

[2020-01-17 14:30] bersace commented on #1
https://github.com/Powerlevel9k/powerlevel9k/wiki/Troubleshooting is a good starting point for such issues.

[2020-01-20 14:25] fabrizioschiavi commented on #163
I’ll add this new improvement with pleasure (finally OpenType supports this kind of naming!!)

[2020-01-24 10:41] pindab0ter commented on #163
Awesome! Can't wait!

[2020-01-29 18:05] nomasprime commented on #77
Wish I'd seen this before purchasing but then I switched to the non-mono version and everything still seems to work OK, i.e., glyphs that should be monospaced are and the rest aren't. Is this correct @fabrizioschiavi?

[2020-01-29 18:21] nomasprime commented on #150
Doesn't work in iTerm.

@fabrizioschiavi think this issue needs reopening until a solution can be found.

[2020-01-29 18:52] nomasprime commented on #150
@fabrizioschiavi tried this https://gitlab.com/gnachman/iterm2/issues/7461

`[]` ligatures work but `#` ones don't.

[2020-01-29 19:13] nomasprime opened #164 "Fix inconsistent behaviour of # and [] ligatures or remove them"
The current situation is that even if the terminal supports them the editor might not and even then they break in between different syntaxes.

For example in NeoVim: # ligatures don't work; [] ligatures work when editing a Markdown file; [] ligatures don't work in Ruby.

Unless all the edge cases can be fixed the # and [] ligatures should be removed. The only other option is for the user to disabl

[2020-02-12 20:51] nomasprime commented on #164
iTerm's been especially [updated](https://gitlab.com/gnachman/iterm2/issues/7461) to render ligatures with spaces in them, thanks @gnachman.

Unfortunately `# …` ligatures don't render in Terminal or TextEdit either.

Issue's two weeks old now. Paid font, so hopefully there's some support?

[2020-02-12 21:16] fabrizioschiavi commented on #164
I just designed a font and a font is not a complex file. I can investigate on these IDE issues but I can’t change their codes.
I use Terminal and TextEdit almost every day but I never seen this kind of issue
![Screenshot 2020-02-12 at 22 14 00](https://user-images.githubusercontent.com/1576663/74377876-1990f000-4de5-11ea-8061-803f100cc044.png)
Could you share a screenshot of this issue, please? Th

[2020-02-14 19:05] nomasprime commented on #164
Tried again and it's started working, possibly a caching issue.

Hopefully iTerm will support soon (see link in my previous comment).

[2020-02-14 19:05] #164 closed

[2020-02-20 03:45] ajarmst opened #165 "Include reference to inhibit-compacting-font-caches in Emacs snippets"
Emacs may become extremely slow on pages with a large number of unicode symbols, such as some of the samples given here in emacs_snippets:
 https://github.com/fabrizioschiavi/pragmatapro/blob/a72a19ecf5c939cfc22d2ba0135f731e6b8d8da9/emacs_snippets/pragmatapro-char-menu-config-sample.el#L9

This can be rectified by inhibiting the default behavior of compacting the font cache to save on memory:

[co

[2020-02-21 16:59] fabrizioschiavi commented on #165
We will work on this. Thank you!

[2020-03-15 16:36] nomasprime commented on #161
These ligatures should be removed. Stopped using ligature variant of the font because creates too many edge cases and undesirable output.

[2020-03-15 16:44] nomasprime opened #166 "Remove TODO, FIXME, etc., ligatures"
These create too many edge cases and inconstant output.

They're a user and, I'd imagine, maintainer minefield.

Personally I've stopped using the ligature variant of the font because of the inconsistent and undesirable output.

Example in Ansible.

This renders a ligature:

[code]

This does not:

[code]

Or we could continue making requests and patching the font for every single variant but seem

[2020-03-19 12:52] mariojackson commented on #166
I understand your pain point, but for the working cases, I would not like for them to be removed. It makes it much easier for me to find the messages in a log, espescially if there are no linebreaks. Just my opinion though, but I really like these ligatures.

[2020-03-19 18:04] wismill commented on #166
I agree with @mariojackson.
@nomasprime how many edge cases have you found? It may be worth to add them to the font if they are not too numerous.

[2020-04-08 19:16] michaelcadilhac commented on #166
One I often see is with my tests, where I have [FAIL] but also [PASS].  The latter is not included.

[2020-04-14 06:06] jspiro commented on #129
I'm seeing this too. It's disappointing as I just purchased and can't get ligatures working in iTerm nor VSCode–pretty much the only two tools I use.

[2020-04-14 06:16] jspiro commented on #129
I see this too. Enabling anti-aliasing fixes it. I didn't see any difference when toggling font smoothing, however. This is my configuration:
<img width="1747" alt="Screenshot 2020-04-13 at 11 14 25 PM" src="https://user-images.githubusercontent.com/232896/79191997-bae3f480-7ddc-11ea-839a-585d359f207b.png">

[2020-04-14 08:23] fabrizioschiavi commented on #129
I just try PragmataPro in iTerm in Mac OS Catalina turning off antialiasing and ligatures works properly.
Aliasing text in Mac sucks but ligatures works.

![Screenshot 2020-04-14 at 10 14 25](https://user-images.githubusercontent.com/1576663/79202222-8b170a00-7e39-11ea-8d4d-aafb96d2902b.png)

[2020-04-14 12:37] mrclayman commented on #166
Personally, I don't care much about ligatures in general, but they are nice to have and I do like those that mark log levels.

@michaelcadilhac , feel free to shoot Fabrizio a request on the [PragmataPro page](https://www.fsd.it/shop/fonts/pragmatapro/). I requested the [FAIL] ligature and it got included. I am sure Fabrizio will be able to work [PASS] in as well, although it's hard to say what th

[2020-04-15 09:09] jspiro commented on #129
That's right, they work perfectly if antialiasing is enabled.

The author's issue is that they do not work when anti-aliasing is disabled. I did not find that sub pixel anti-aliasing made any difference, nor did Mac fonts smoothing.

[2020-04-20 21:40] Porges opened #167 "Creative Commons license symbols"
Would you be able to add the Creative Commons license symbols that are new in Unicode 13.0?

There are 6 symbols [here](https://www.unicode.org/charts/PDF/U1F100.pdf) (I also highlighted the copy-left icon):
![image](https://user-images.githubusercontent.com/12575/79802409-05083f80-83b4-11ea-9431-5743627801d1.png)

The 7th is the circled equals (U+229C) which should be harmonious with the ones abo

[2020-04-21 08:03] fabrizioschiavi commented on #167
Yes, absolutely. Thanks George!

[2020-04-26 03:01] phyllisstein opened #168 "Move checkbox ligatures out of SS12."
The checklist ligatures are a really delightful way of leveraging and enriching how thoughtful PragmataPro is about code-related text, and the glyphs are gorgeous. Thank you, @fabrizioschiavi, for the work you put into them.

I do have one or two thoughts about their implementation, though. For one thing, locating this feature in `ss12` means that enabling it brings a number of unexpected ligature

[2020-04-26 12:04] phyllisstein opened #169 "Can you recommend any tools for getting the most out of Box Drawing?"
This is not by a mile a bug, but I’m curious whether folks familiar with PragmataPro’s box-drawing characters have any recommendations for helpful tools and a good place to start.

For context, I do a ton of diagramming. For work, it’s mostly software architectures, data flows, user journeys, and other engineering ephemera. Off the clock, I spend a lot of time on nonfiction writing (technical and

[2020-04-26 13:20] fabrizioschiavi commented on #168
I’ll check this soon. Thank you!

[2020-04-26 13:47] fabrizioschiavi commented on #169
Good idea! If you can send me a Monodraw JSON document I can try to add description keys and glyphs values. Thanks for purpose me this step forward!

[2020-04-30 09:20] phyllisstein commented on #169
As far as Monodraw goes, it turns out I misunderstood the spec. The JSON keys were _all_ `char`, and their values were characters---no human-readable name needed. I opened #170 with JSON documents defining custom Monodraw palettes for Pragmata Pro’s extended box drawing glyphs and its arrow sets.

I reproduced your Milan metro map to get a feel for whether and how it works. It’s not perfect, since

[2020-04-30 10:45] #169 closed

[2020-05-03 17:47] TheSecEng opened #171 "Equal Ligatures"
Would there ever be an interest in changing the === ligature?

<img width="1113" alt="image" src="https://user-images.githubusercontent.com/32599364/80921473-9e383e00-8d44-11ea-9770-53b97a44cd9f.png">

[2020-05-04 18:49] #171 closed

[2020-05-05 10:53] jfrankenau opened #172 "Better distinguish small (ß) and capital (ẞ) eszett"
Looking at the [list of all characters](https://www.fsd.it/pragmatapro/All_chars.png) I find the lowercase (U+00DF) and uppercase (U+1E9E) variant of the German eszett (sharp s) hard to discern. I would propose to reduce the [capital eszett](https://en.wikipedia.org/wiki/Capital_%E1%BA%9E) a bit in height (going wider I guess is not possible) and also make the top flat as it is done by other typef

[2020-05-05 11:20] fabrizioschiavi commented on #172
Thank you for this improvement request! I'll work on it soon

[2020-05-11 14:46] jfrankenau opened #173 "Make the En dash wider"
I find it difficult to distinguish the Hyphen-minus (U+002D) from the En dash (U+2013). I would prefer to have it about halfway between the Hyphen-minus and the Em dash (U+2014) in length. One could consider to instead or also reduce the Hyphen-minus in length. As these three glyphs are commonly used they should be easily distinguishable.

[2020-05-11 14:56] fabrizioschiavi commented on #173
Good idea, I’ll do it. Thanks!

[2020-05-14 09:19] Shedward commented on #161
I actually want to add to this topic. Those ligatures can create a problems in some languages where things like [Error] or [error] have some meaning.

For example in Swift I might want to use an array of errors with code like this
[code]

which with Pragmata Pro will create this output

<img width="277" alt="Screenshot 2020-05-14 at 12 05 26" src="https://user-images.githubusercontent.com/904623/8

[2020-05-15 18:16] karljs opened #174 "Add missing powerlevel10k icons"
[Powerlevel10k](https://github.com/romkatv/powerlevel10k#meslo-nerd-font-patched-for-powerlevel10k), which is a popular `zsh` theme, tries to use at least a few characters that PragmataPro doesn't include.  When you run `p10k configure`, it tries to check what support you have by asking about a diamond character, which I do see using PragmataPro, and then a lock character, which I do not see.

[2020-06-01 15:52] TheSecEng opened #175 "Symbol Sizes Small PragmataPro Mono"
I understand Mono fonts, however I think symbols are a bit to small in the mono versions.

Size 14 and the cmd symbol is so small that it is hard to distinguish

<img width="254" alt="image" src="https://user-images.githubusercontent.com/32599364/83426950-f6bf3180-a3fd-11ea-9af6-f6acb7aa6b7e.png">

Size 12 (Which is what I normally work in) and it is nearly impossible.

<img width="214" alt="image

[2020-06-01 16:11] fabrizioschiavi commented on #175
I understand you very well, indeed I created the modular version.
I would like to improve readability of these symbols but the space available is very limited and I think to obtain already the best possible.
![Screenshot 2020-06-01 at 18 07 12](https://user-images.githubusercontent.com/1576663/83428699-305e5f80-a433-11ea-82a6-0d6fa3b39a08.png)
Anyway I'll work on these symbols

[2020-06-01 16:20] TheSecEng commented on #175
Modular version?

[2020-06-01 16:23] fabrizioschiavi commented on #175
The fonts named `Pragmata Pro` are the modular version

[2020-06-27 11:52] ElonPark commented on #161
How about this

[code]

[2020-06-27 13:04] fabrizioschiavi commented on #161
Wow! Thank you friends, I must adjust it absolutely. Ligatures can't become an obstacle to coding.

[2020-06-27 13:53] nomasprime commented on #161
Originally thought these ligatures were a nice idea so I raised an issue to get them working in iTerm: alphanumeric ligatures weren't rendered for performance reasons.

But, like I said before, these alphanumeric ligatures just have too many edge cases and are generally too problematic for serious programmers. If you're willing to mainain another variant, a compromise would be to have two ligature

[2020-07-10 00:34] thomcc opened #176 "Graphics for legacy computing should always be single-width even in non-mono font"
As it is they're mostly double-width in the non-mono font, but if you look at any actual, well, graphics from legacy computing or text art done in that style using those characters it won't look right in the non-mono font, since inevitably they'll have other characters, and will have been drawn assuming a mono font.

If you look at the example on the [unscii page](http://pelulamu.net/unscii/) for

[2020-07-10 00:45] thomcc opened #177 "Some legacy computing graphic characters refer to wrong glyphs"
In https://github.com/fabrizioschiavi/pragmatapro/issues/176 (filing as a separate issue because it's very much unrelated to the other) I mentioned that there seemed to be some weird rendering issues with even the Mono version of PragmataPro.

Actually, I think many of these are because some of the characters don't seem right between https://raw.githubusercontent.com/fabrizioschiavi/pragmatapro/ma

[2020-07-10 18:16] fabrizioschiavi commented on #177
I'll fix it soon. Thanks to letting me know

[2020-07-10 18:20] fabrizioschiavi commented on #176
Oh wow! I'll fix it soon. Thanks to letting me know

[2020-07-10 18:25] fabrizioschiavi commented on #174
I'll fix it soon. Thanks to letting me know

[2020-07-18 14:03] amerlyq opened #178 "Limited proprietary license with access to font sources"
## Problem:
There are many opened issues about this font on github, and some more "vague" unpublished ones.
They irritate me personally till the point I want to invest my time and fix them personally -- because I'm not satisfied with current fixup speed and absent milestones.
I understand, that by "buying" font we bought "font + some upgrades" **only** -- and no support was promised (despite overa

[2020-07-19 16:07] cata0309 opened #179 "Add support for #[ ligature"
![image](https://user-images.githubusercontent.com/35623921/87879388-11238d80-c9f3-11ea-99e2-e2dbd77e68a1.png)
This is a picture of Fira Code ligature

[2020-07-20 08:12] fabrizioschiavi commented on #179
Ok, thanks

[2020-07-20 08:26] fabrizioschiavi commented on #178
Thank you @amerlyq for sharing your thought!
I’m very busy because I'm working at very time spending new projects and I didn't found the time to work at the new releases of PragmataPro.
PragmataPro is not a dead project at all. A lot of improvements are planned.
I can't change the license into FOSS because it helps me and my family to live.
I know, a lot of time passed from the latest update but I

[2020-07-31 21:32] evilcat-x opened #180 "'# TODO' and other ligature problem with 'VS Code' etc that use 'Electron'"
So I was wondering why `# TODO` doesn't work in `VS Code` and dig a bit deeper.
It seems that it comes down to the issue the `VS Code` and similar Code editor that use `Electron` under the hood is rendering html5 escaped space, which is `#&nbsp;TODO` This is preventing the `# TODO` to render.

Current working `# TODO` is using `U+0020` space, while `VSCode` and others might render as `U+00A0`, whi

[2020-08-03 21:23] yourfate commented on #174
I actually saw the lock character on my system. Though on the next screen there were some spacing issues.

[2020-08-07 23:39] fxfactorial opened #181 "first characters missing in TODO and friends"
![Screenshot from 2020-08-07 19-35-21](https://user-images.githubusercontent.com/3036816/89696346-576e5d00-d8cc-11ea-8326-36efeea69174.png)

with

[code]

[2020-08-08 09:38] fabrizioschiavi commented on #180
Thank you very much for this precious help! I'll improve these ligatures following your suggestions

[2020-08-08 09:47] fabrizioschiavi commented on #181
Thanks for letting me know this.
I don't know GNU Emacs very well and I can't find what happens.
Probably a master like @danielmt can help us if this is a PragmataPro issue.

[2020-08-08 11:00] danielmt commented on #181
I can't reproduce on latest emacs stable (26.3). Emacs 27.0.91 is the latest pre-release, and 28.0.50 is pretty much experimental. I would advise you to test on 26.3 first to check if it's due to any experimental feature in development for emacs 28. On pre-release/experimental YMMV.

[2020-08-08 14:43] fxfactorial commented on #181
True - on emacs stable , it works fine - maybe this issue more of a heads up on potential issues coming up.

[2020-08-19 12:51] AndreasDM opened #182 "Visual studio no ligatures for <- and ->"
With `pragmata pro mono liga` the symbols `~>` and `<~` renders correctly with ligatures but `->` and `<-` don't seem to render with ligatures.

![2020-08-19-145027_140x127_scrot](https://user-images.githubusercontent.com/12885048/90636759-5ffb5780-e22b-11ea-93da-4e4e3093ff4b.png)

[2020-08-29 10:34] #157 closed

[2020-08-31 20:42] cata0309 opened #183 "Missaligned *= and /= ligatures"
Hello, Fabrizio ! I am using PragmataPro Mono Liga in CLion(Intellij IDEA Based IDE) and this happens:
( It happens on small sizes too, I made a screenshot at size 100 to see the issue better)
![image](https://user-images.githubusercontent.com/35623921/91766643-92219780-ebe3-11ea-8a3d-22c46c8672a5.png)
Let me know what you think. In the images that describe the supported ligatures the `*` and `/`

[2020-09-01 06:31] tomekwier commented on #181
@danielmt I am not seeing this problem for emacs 27.1 compiled *without* cairo support. It is not ideal but at least can serve as a temporary workaround.

[2020-09-01 09:43] danielmt commented on #181
@tomekwier interesting.. thanks for the heads up.

[2020-09-16 12:06] spixi opened #184 "Wrong glyph for U+2BFF (HELLSCHREIBER PAUSE SYMBOL)"
The glyph for U+2BFF (HELLSCHREIBER PAUSE SYMBOL) is wrong. This can be observed here: https://www.fileformat.info/info/unicode/char/2bff/fontsupport.htm
![2BFF](https://user-images.githubusercontent.com/3192596/93334454-43037580-f825-11ea-8773-e226a0749e3c.PNG)

The correct glyph should look like below:
![hell-pause-character](https://user-images.githubusercontent.com/3192596/93334788-c755f880-f8

[2020-09-16 12:29] fabrizioschiavi commented on #184
Thank you @spixi , I'll fix it soon

[2020-09-16 12:35] fabrizioschiavi commented on #182
It seems to be a [Visual Studio issue](https://developercommunity.visualstudio.com/idea/591741/font-ligatures-not-working.html)

[2020-09-20 07:37] brendanzab opened #185 "Logging ligatures conflicting with Rust attributes"
I have the following text in VS Code:

[code]

Which renders as:
<img width="213" alt="Screen Shot 2020-09-20 at 5 35 43 pm" src="https://user-images.githubusercontent.com/695077/93706260-bed42980-fb67-11ea-8738-c058d4751fc4.png">

This is rather ugly! Is there a way to disable this specific set of ligatures?

[2020-09-20 07:53] fabrizioschiavi commented on #185
I don't know if there are some way to disable specific ligatures in VS Code but I can fix this in the next release.
Thank you for letting me know this!

[2020-09-28 02:22] tinjaw commented on #134
I am using `# TODO` in JetBrains' IDEs and it initially uses the ligature, but immediately reverts to plain text. I am uncertain is some other plugin/formatter/rule is causing the reversal.

[2020-09-30 06:16] kevinsjoberg opened #186 "PragmataPro running in Terminal.app with "antialias text" on a non-retina display cause it to render illegible"
On a Retina display PragmataPro renders fine in Terminal.app, but on a non-retina display it's completely illegible when "antialias text" is unchecked. See the screenshot below.

![Screenshot 2020-09-30 at 08 16 29](https://user-images.githubusercontent.com/503025/94649582-3f77f000-02f5-11eb-9a8d-7b3ac0cb3152.png)

**Env**

**Operating System:** macOS Catalina (`10.15.6`)
**Terminal:** Terminal.ap

[2020-09-30 06:43] fabrizioschiavi commented on #186
Very strange… The screenshot comes from an Apple Retina Display?

[2020-09-30 06:47] jspiro commented on #186
I've seen major Pragmata issues in iTerm in Big Sur, but I don't think it's related to Pragmata itself but ligatures.

Which OS ?

[2020-09-30 06:50] KevinSjoberg commented on #186
@jspiro my bad for not providing that upfront.

I'm running macOS Catalina (10.15.6) using Terminal.app (Version 2.10 (433)). I've updated the original issue with this information as well.

[2020-09-30 06:51] jspiro commented on #186
Just for comparison, can you try iTerm?

[2020-09-30 06:55] KevinSjoberg commented on #186
@jspiro I don't see the problem in iTerm. I also don't experience this problem in Terminal.app when I'm at home, using my LG Ultrafine 5K display.

[2020-09-30 08:08] fabrizioschiavi commented on #186
I can reproduce it 😲 Also PragmataPro without ligatures doesn't work properly.
Thanks for letting me know Kevin, I must find a solution as soon as possible but I have no idea where is the problem at the moment.

[2020-09-30 08:22] jspiro commented on #186
Honestly, if you have a connection with them, you might want to reach out to the iTerm folks. They're very familiar with the rendering differences, and they have their own Pragmata issues, so the might be able to help (admittedly I never had issues in Catalina in iTerm, but ligatures are extremely broken in iTerm in Big Sur–which I've reported already).

[2020-09-30 08:33] fabrizioschiavi commented on #186
Thanks for the suggestion @jspiro !
@gnachman could you help me to understand what changed in iTerm?

[2020-09-30 08:44] KevinSjoberg commented on #186
@jspiro @fabrizioschiavi thanks for the fast response. Keep in mind that the behaviour I'm seeing is in Terminal.app, not iTerm. Just want to make sure we're all on the same page.

[2020-10-01 05:42] gnachman commented on #186
PragmataPro has had idiopathic problems when non-antialiased for a some time. I expect this is a duplicate of #129.

[2020-10-12 15:46] aidangilmore opened #187 "<|> ligature"
I know you're very busy, but if you can find the time, I would love to see a ligature for [`<|>`](https://hackage.haskell.org/package/base-4.14.0.0/docs/Control-Applicative.html#v:-60--124--62-) in Haskell. A similar character sequence is used in the popular Haskell Servant library with [`:<|>`](https://hackage.haskell.org/package/servant-0.18/docs/Servant-API.html#v::-60--124--62-) which I think

[2020-10-12 15:51] fabrizioschiavi commented on #187
Thank you very much for your kind words! I'll work on your suggestions. Thanks again!

[2020-10-12 15:54] fabrizioschiavi commented on #183
Thanks for letting me see this misalignment. I'll fix it asap

[2020-10-19 08:19] #9 closed

[2020-11-07 22:36] amerlyq commented on #178
If going FOSS (notice absense of "L")  is out of questions, let's enumerate only essential points of above proposal:
* I have "pains" with PragmataPro font, which are not addressed by product owner for months (yeah, I know, original price didn't include customer support and SLA)
* I'm ready to spend **my own time** to address my own pains, and **share fixes with you** and your customers, which you

[2020-11-09 08:52] karol-be opened #188 "JetBrains IDEs font weight issue"
Hello :),
I've just recently got Pragmata Pro. I'm using 0.828.
I don't know if it's because I'm used to Cascadia Code font and Fira Code fonts, but Pragmata Pro seem to look very thin up to 19pt.
Is it me or has anyone had such an issue? It occurs for me on multiple PCs, both on Ubuntu and Windows [10.](url
![fontweightissue](https://user-images.githubusercontent.com/10078424/98519305-e2b31200-22

[2020-11-16 09:50] karol-be commented on #188
Solution not found but it just seems to be JB IDE issue when working with external displays.

[2020-11-16 09:50] #188 closed

[2020-11-24 19:09] Porges commented on #147
@fabrizioschiavi do you have a timeline for the release of 0.829? it would be great to have this fixed 🙂

[2020-11-24 19:40] fabrizioschiavi commented on #147
You’ve right @Porges 😔 sorry for this delay. I’m very busy with other projects at the moment but this December I’ll continue to work at PragmataPro 0.829, so I hope to finish it at the start of the 2021

[2020-11-30 15:54] ab5tract commented on #64
Hi there, just purchased this awesome font! I just wanted to bump this thread to let you know that I for one would love to see some of those finishing touches mentioned by @abrudz in his latest comment in the next version of PragmataPro.

That said, it's well on it's way as a beautiful font to code some APL in! Thanks for your time.

[2020-12-02 17:16] rafi opened #189 "Missing glyph U+FD42 (Vue.js symbol: ﵂ )"

[2020-12-16 18:27] TheSecEng commented on #174
In the mean time, if you are using iTerm2 you can pick a fallback font. That allows you to us PragmataPro as the main font and then fallback to another font for non-ascii

[2020-12-22 07:18] jspiro commented on #104
Incidentally, what are the reasons for not generating OTFs?

[2020-12-22 07:29] fabrizioschiavi commented on #104
[This](https://superuser.com/questions/96390/difference-between-otf-open-type-or-ttf-true-type-font-formats/545024#545024) is the main reason. Anyway I'll generate OTFs since the next release. Times are changed

[2020-12-29 03:35] ab5tract commented on #64
It is also worth noting that the plus symbol and the left arrow are not vertically aligned. Thus `+←` looks quite strange relative to how they appear in most fonts.

[2021-01-09 19:11] kaspergrubbe commented on #77
The patching script from nerdfonts does have an option to patch only with single width (but I'm not sure how that works):

[code]

Can that be used here @fabrizioschiavi ?

[2021-02-22 22:01] malob opened #192 "∈ (U+2208, element of) and ∉ (U+2209, not an element of) don't match"
In PragmataPro ∉ (U+2209, not an element of) is the same style and size as ∊ (U+220A, small element of).

[2021-02-23 08:20] fabrizioschiavi commented on #192
Thanks @malob ! I’ll fix it soon

[2021-02-23 20:16] malob commented on #192
Thanks! Also ∊ (U+220A) and ∍ (U+220D) don't match stylistically. The former appears slightly slanted.

[2021-02-26 15:45] Kikithecat12345 commented on #67
Personally agree with the `===` and `!==` being 3 bars, but as a stylistic set.

[2021-03-16 11:21] preachermanx commented on #150
This is still an issue for me in VSCode does anyone have a workaround?

[2021-04-13 11:04] CosmosAtlas opened #193 "Possibility to disable enable specific set of characters?"
I'm having this specific problem where the nerd font icons that I use is occupied by another set of characters.

Here's the example:

Theoretically this is a misuse by web-devicons since they shouldn't populate a non private use space. In practice, at least for me, I do not have the need to display arabic characters at all.

Since, different people will have different needs, I'm wondering if there

[2021-04-13 11:54] #166 closed

[2021-04-13 11:56] #161 closed

[2021-04-13 11:57] #178 closed

[2021-04-13 11:59] #124 closed

[2021-04-13 14:44] #140 closed

[2021-04-14 16:03] #145 closed

[2021-04-14 17:40] fabrizioschiavi commented on #186
Duplicate of #129

[2021-04-14 17:40] #186 closed

[2021-04-14 19:11] fabrizioschiavi commented on #137
I'll check better your issue notification and I must correct you when you write:
[code]
in reality:
[code]

[2021-04-27 08:48] tlkahn opened #199 "Upgrade my font"
Hi, I would like to upgrade from Essential PragmataPro to full version of PragmataPro. I have added it to the cart. Can you help me to adjust the price by deducting my paid amount? I remember someone asked it before. It'll be better to have the upgrade option on the website. My account email is joshgy@gmail.com.

Could you help? Thanks a lot!

[2021-04-27 19:07] fabrizioschiavi commented on #199
Absoutely yes, I just wrote you in private.

[2021-04-27 19:07] #199 closed

[2021-05-18 14:26] Bobbbay opened #200 "Armenian glyphs"
Heyo!

Just bought the first font I've ever paid for, and I really am loving Pragmata Pro - except for the fact that there are no Armenian glyphs. If these were supported, I'd finally be able to set this as my system font :D.

[2021-05-18 18:41] muld3r opened #201 "Wrong alignment of curly brackets"
Thank's a lot for an update of your great font!

Thre is a minor issue with curly brackets:
![image](https://user-images.githubusercontent.com/24359738/118706025-318dc580-b819-11eb-9bf1-5bf3d76ec21b.png)

Font Version: PragmataPro 0.829

This issue is reproducible at least with Emacs, cmder, IntelliJ.

[2021-05-18 21:20] jxy opened #202 "bad shape without antialiasing in version 0.829"
Here is an example with pixel size 20, without antialiasing, PragmataPro Regular
![PragmataPro-Regular-20](https://user-images.githubusercontent.com/89739/118723803-756dd400-b7f3-11eb-9fe6-d6857e1d8531.png)
and PragmataPro Mono Regular
![PragmataProMono-Regular-20](https://user-images.githubusercontent.com/89739/118723807-76066a80-b7f3-11eb-8007-db87201a7239.png)
the letter `l` rendered too thin,

[2021-05-18 21:47] LevitatingOrange opened #203 "Mono Liga version is missing ss13 and checkboxes"
Hello,

first of all, I want to say that I love these fonts and want to thank you for your continued effort to improve the fonts. I have two questions regarding the newest release (love the new ss13), both regarding the Mono variant *with* ligatures.

1. The font file for *Pragmata Pro Mono Liga Regular* does not contain the stylistic set 13:
  Running `otfinfo -f PragmataPro_Mono_R_liga_0829.ttf`

[2021-05-19 11:17] fabrizioschiavi commented on #203
Hi, thanks to letting me know this!
I just fixed `ss13` issue.
You can re-download the font files from fsd.it and confirm it please?
I'll add checkboxes as ligatures in Mono versions soon.
Thanks again!

[2021-05-19 11:21] fabrizioschiavi commented on #202
Unfortunately my fonteditor change something hard to find in the latest releases.
Anyway, try to download and install the font files again please. I think to have fixed this issue minutes ago.
Please confirm. Thanks!

[2021-05-19 11:22] fabrizioschiavi commented on #201
Please re-download the font files from fsd.it and let me know if the issue is still active. Thank you!

[2021-05-19 11:26] fabrizioschiavi commented on #200
Don't tempt me 😉 I might design the Armenian glyphs the next time…

[2021-05-19 12:00] fabrizioschiavi commented on #172
Can I consider fixed with this design?

![Screenshot 2021-05-19 at 13 59 27](https://user-images.githubusercontent.com/1576663/118809101-77df3500-b8aa-11eb-9b92-c72c16a74eaa.png)

[2021-05-19 12:53] mvs3d opened #204 "Windows 10 & 0.829: unavailable for use Regular, Bold (from PragmataPro Liga), Regular (from PragmataPro Mono Liga)"
Hello Fabrizio! I have been using PragmataPro for many years, and I first encountered a strange problem after installing the new font version (0.829).

After installing it, some font styles from PragmataPro Liga and PragmataPro Mono Liga became unavailable for selection, and as a result I can't use the ligatures.

This is an example of font selection in Notepad:

![image](https://user-images.githu

[2021-05-19 14:03] fabrizioschiavi commented on #204
Oh wow!
Can you try to download and install again the font files, please?
Please let me know if was fixed with this new version. Thank you!!

[2021-05-19 14:08] #189 closed

[2021-05-19 14:11] fabrizioschiavi commented on #187
Added and available since version [0.829](https://fsd.it/shop/fonts/pragmatapro/)

![Screenshot 2021-05-19 at 16 10 46](https://user-images.githubusercontent.com/1576663/118827573-cac1e800-b8bc-11eb-8543-5e34808ad64b.png)

[2021-05-19 14:11] #187 closed

[2021-05-19 14:17] fabrizioschiavi commented on #192
Fixed since version [0.829](https://fsd.it/shop/fonts/pragmatapro/)

![Screenshot 2021-05-19 at 16 16 29](https://user-images.githubusercontent.com/1576663/118828541-a581a980-b8bd-11eb-80e8-8061f4020a08.png)

[2021-05-19 14:17] #192 closed

[2021-05-19 14:21] fabrizioschiavi commented on #184
Fixed since version [0.829](https://fsd.it/shop/fonts/pragmatapro/). Thanks again!

![Screenshot 2021-05-19 at 16 20 47](https://user-images.githubusercontent.com/1576663/118829217-35bfee80-b8be-11eb-8ca0-cdc0afa8ad35.png)

[2021-05-19 14:21] #184 closed

[2021-05-19 14:23] fabrizioschiavi commented on #179
Added and available since version [0.829](https://fsd.it/shop/fonts/pragmatapro/). Thanks again!

![PragmataPro-0829-ligatures-dark](https://user-images.githubusercontent.com/1576663/118829528-7c154d80-b8be-11eb-8bee-c885bf063186.png)

[2021-05-19 14:23] #179 closed

[2021-05-19 14:32] fabrizioschiavi commented on #182
On Mac it works perfectly

![Screenshot 2021-05-19 at 16 29 51](https://user-images.githubusercontent.com/1576663/118831092-c519d180-b8bf-11eb-9029-632d34ce732b.png)

Do you confirm that it works also in Windows?

[2021-05-19 14:39] fabrizioschiavi commented on #176
Fixed since version [0.829](https://fsd.it/shop/fonts/pragmatapro/).
This a sample of the modular version of PragmataPro. Thanks for your contribution!

![Screenshot 2021-05-19 at 16 36 41](https://user-images.githubusercontent.com/1576663/118832179-b1bb3600-b8c0-11eb-8c17-0a7c84faa427.png)

[2021-05-19 14:39] #176 closed

[2021-05-19 14:40] fabrizioschiavi commented on #177
Fixed since version [0.829](https://fsd.it/shop/fonts/pragmatapro/). Thanks again!

[2021-05-19 14:40] #177 closed

[2021-05-19 15:04] mvs3d commented on #204
Wow, it's all good now! If any changes were made on your side, it worked. As for me, after I submitted this issue I installed the another update: Windows 10, version 21H1.

[2021-05-19 15:17] fabrizioschiavi commented on #204
Perfect! Thank you again to let me know this terrible issue!
All the best

[2021-05-19 15:17] #204 closed

[2021-05-19 15:18] fabrizioschiavi commented on #203
Checkboxes ligatures just added!

[2021-05-19 15:29] fabrizioschiavi commented on #175
New ⌘ since v_0.829

![Screenshot 2021-05-19 at 17 27 08](https://user-images.githubusercontent.com/1576663/118840470-b800e080-b8c7-11eb-85ae-af52b54c1d4f.png)

[2021-05-19 15:31] #168 closed

[2021-05-19 15:35] aidangilmore commented on #187
Beautiful! Thank you very much!

[2021-05-19 15:40] fabrizioschiavi commented on #163
This is the Stylistic Set panel of [PragmataPro](https://fsd.it/shop/fonts/pragmatapro/) since v_0.829

![Screenshot 2021-05-19 at 17 38 49](https://user-images.githubusercontent.com/1576663/118842213-49bd1d80-b8c9-11eb-9516-ef97e89ed033.png)

Thank you!!

[2021-05-19 15:40] #163 closed

[2021-05-19 15:43] fabrizioschiavi commented on #160
Much probably there are no more slight gaps (coming from Nerd symbols) since v_0.829.
Please confirm it. Thank you!

[2021-05-19 15:43] #160 closed

[2021-05-19 15:57] fabrizioschiavi commented on #167
Added and available since v_0.829

[2021-05-19 15:57] #167 closed

[2021-05-19 15:59] fabrizioschiavi commented on #156
Fixed!
Thank you @amerlyq to letting me know this issue!

[2021-05-19 15:59] #156 closed

[2021-05-19 16:04] fabrizioschiavi commented on #185
Fixed!
Since v_0.829 [PragmataPro](https://fsd.it/shop/fonts/pragmatapro/) _#[_ ligature has the precedence, so there is no more issues like this.
Thank you!

[2021-05-19 16:11] fabrizioschiavi commented on #173
Fixed, since [v_0.829](https://fsd.it/shop/fonts/pragmatapro/)

![Screenshot 2021-05-19 at 18 10 07](https://user-images.githubusercontent.com/1576663/118847006-9145a880-b8cd-11eb-82f0-4822fd58abd9.png)

[2021-05-19 16:11] #173 closed

[2021-05-19 16:28] fabrizioschiavi commented on #147
Hello people!
After a very hard work now all the _Mathematical Alphanumeric Symbols_ glyphs can be accented like other standard letters using _Combining Diacritical Marks_ set. Not only _macron_ positioning.
[PragmataPro](https://fsd.it/shop/fonts/pragmatapro/) now pass also the _soft dotted_ proof 😄

![Screenshot 2021-05-19 at 18 20 58](https://user-images.githubusercontent.com/1576663/118849149-

[2021-05-19 16:28] #147 closed

[2021-05-19 16:32] #154 closed

[2021-05-19 16:39] fabrizioschiavi commented on #159
Since [v_0.829](https://fsd.it/shop/fonts/pragmatapro/) this issue was fixed.
No more vertical misalignments

![Screenshot 2021-05-19 at 18 36 27](https://user-images.githubusercontent.com/1576663/118850817-6f4e2500-b8d1-11eb-8740-20710e5ec895.png)

Thank you @amerlyq !

[2021-05-19 16:39] #159 closed

[2021-05-19 16:51] fabrizioschiavi commented on #174
I added all the possible _powerlevel10k_ icons since v_0.829 but I must warn you probably some icons are removed because in conflict with existing PragmataPro glyphs. The same that happens with _nerd icons_. Unfortunately icons has codepoints often used by fonts and not empty.
I submitted [this](https://github.com/ryanoasis/nerd-fonts/pull/609) pull request to _nerd fonts_ project that **IS** the

[2021-05-19 16:51] #174 closed

[2021-05-19 16:52] #88 closed

[2021-05-19 16:54] #137 closed

[2021-05-19 17:06] jxy commented on #202
Perfect now! Thanks.

[2021-05-19 17:06] #202 closed

[2021-05-19 17:10] fabrizioschiavi commented on #146
I think [PragmataPro](https://fsd.it/shop/fonts/pragmatapro/) 0.829 has no more this misalignment:

![Screenshot 2021-05-19 at 19 09 08](https://user-images.githubusercontent.com/1576663/118855246-de2d7d00-b8d5-11eb-818c-31f9c5a06e2c.png)

[2021-05-19 17:10] #146 closed

[2021-05-19 17:18] fabrizioschiavi commented on #74
I have open [this](https://github.com/fabrizioschiavi/pragmatapro-semiotics) git repo with the **semiotics of all the symbols and signs of Pragmata Pro typeface**. To complete the files with informations is not so easy but I hope to find time to complete it soon.
Can this repo be useful to you?

[2021-05-19 17:18] #74 closed

[2021-05-19 17:24] #203 closed

[2021-05-19 17:24] #201 closed

[2021-05-19 17:28] fabrizioschiavi commented on #183
Fixed it since v_0.829

![Screenshot 2021-05-19 at 19 27 40](https://user-images.githubusercontent.com/1576663/118857479-60b73c00-b8d8-11eb-8303-210576285f62.png)

[2021-05-19 17:28] #183 closed

[2021-05-19 17:43] fabrizioschiavi commented on #118
@arcfide can you try if the issue is still active also using [PragmataPro](https://fsd.it/shop/fonts/pragmatapro/) 0.829, please?

[2021-05-19 17:43] #118 closed

[2021-05-19 17:45] FieryCod commented on #137
@fabrizioschiavi I can confirm that the issue no longer exists! Thank you so much!

[2021-05-19 17:52] fabrizioschiavi commented on #64
These are [PragmataPro](https://fsd.it/shop/fonts/pragmatapro/) APL glyphs since v_0.829

![Screenshot 2021-05-19 at 19 49 16](https://user-images.githubusercontent.com/1576663/118860288-809c2f00-b8db-11eb-9a38-fadea53e0114.png)

All right now?

[2021-05-19 17:57] #44 closed

[2021-05-19 18:00] #42 closed

[2021-05-19 18:06] #175 closed

[2021-05-19 18:08] fabrizioschiavi commented on #133
Have you tried with the new [PragmataPro](https://fsd.it/shop/fonts/pragmatapro/) 0.829?
Please let me know if there are again issues using Visual Studio. Thank you!

[2021-05-19 18:10] amerlyq opened #206 "Ligature =/ vs shell assign path"
New mono ligature "=/" is breaking shell experience in terminal
[code]
What I see on the screen is read as "var is not equal to path, stripped of leading slash".
Too much confusing.

What was original usecase when "=/" was added ?

[2021-05-19 18:16] fabrizioschiavi commented on #206
Oh wow! This is a very bad issue.
Sorry I must fix it asap. Thank you!

[2021-05-19 18:29] jibsen commented on #201
The curly braces appear to be slightly too close compared to the others:
![pragmata_curly_close](https://user-images.githubusercontent.com/1367512/118864924-bb549600-b8e0-11eb-8199-e285fa091d33.png)

[2021-05-19 18:39] amerlyq commented on #206
But only revert "=/" -- don't touch new "!=" ligature with below dot, it's really nice :)

[2021-05-20 00:38] Porges commented on #147
Looks great!

[2021-05-20 00:58] LevitatingOrange commented on #203
Thank you for your swift response! I now can enjoy the glorious new git trees! Checkboxes seem to work too, though there I have small problem with them: I am on Linux (so using Freetype 2 for rasterization) and the checkboxes get squished when using the Mono variant:
![pp_mono_liga](https://user-images.githubusercontent.com/4560504/118902980-06899b80-b917-11eb-8b23-befdddd3ec2d.png)
but not when u

[2021-05-20 03:53] brendanzab commented on #185
Thanks so much, it works great!

[2021-05-20 03:56] brendanzab opened #207 "Weird rendering of carets as foralls"
I was looking at the internals of codespan-reporting today and noticed this weird rendering of the following text:

![screenshot of codespan-reporting](https://user-images.githubusercontent.com/695077/118916967-41212180-b973-11eb-8342-4e7b66630d50.png)

[code]

[2021-05-20 06:38] eigengrau opened #208 "emacs prettify symbols snippet missing for v0.829"
Nice work on v0.829! I have noticed that some glyphs in the private use area have been moved or removed, so that prettify-symbols-mode in Emacs produces odd results. It looks like U+E990 and U+E991 are now gone from the PUA, probably because these glyphs are already part of the general punctuation block. Some other ligatures seem to have been moved within the PUA (smiley faces, some Haskell operat

[2021-05-20 07:23] andreimaxim opened #209 "Font issues on Windows when font size is less than 24"
I've been using Linux for a while now and due to some work requirements I need to run Windows on my machine. I've been a virtual machine to run my programming tools and I've been very happy with Pragmata Pro. However, I've spent some time using Windows + WSL2 to streamline my workflow and I've noticed some weird things that I can't explain.

I bought Pragmata Pro Regular v0.829 from the FSD store

[2021-05-20 13:17] wismill opened #210 "myfonts.com missing update to 0.829"
Hello, the version 0.829 is not on MyFonts.com. Could you publish it there?

[2021-05-20 13:18] jams2 commented on #208
@eigengrau not a fix but what's working for me now is using https://github.com/mickeynp/ligature.el (note the caveats about Emacs versions), with the following config cobbled together from the issues/docs there:

[code]

[2021-05-20 15:04] fabrizioschiavi commented on #207
Very fun! I was almost sure no one use `^^` combination in programming and instead…
I just removed the ligature.
Please download and install the new font files. Thank you!

[2021-05-20 15:04] #207 closed

[2021-05-20 15:06] fabrizioschiavi commented on #206
I just fixed this issue.
Please download again the font files.
Thank you for your help!

[2021-05-20 15:06] #206 closed

[2021-05-20 15:37] andreimaxim commented on #209
@fabrizioschiavi yes! The regular font (which is what I bought from the FSD store) is very much improved!

![image](https://user-images.githubusercontent.com/256/119007610-0ed6ea80-b99a-11eb-8e1a-244962bd430f.png)

Now there's still the issue with the italic, but unfortunately I bought italic and bold from the MyFonts store. I'm guessing there isn't a way to migrate from MyFonts to FSD, is there?

[2021-05-20 15:38] fabrizioschiavi commented on #210
I sent the update request at MyFonts team 6 days ago.
I just requested again a minute ago

[2021-05-20 15:50] fabrizioschiavi commented on #209
Good to know it works as expected!
You can migrate to fsd.it, please create an account and I'll create an order at €0 of what puchased at myfonts.com

[2021-05-20 15:50] #209 closed

[2021-05-20 16:02] fabrizioschiavi commented on #64
Yes,  `⊥` , `⊤` , `←` and `→` are only double-width in the modularspaces font.

I just fixed all the other issue.
What do you think now?

![Screenshot 2021-05-20 at 17 58 58](https://user-images.githubusercontent.com/1576663/119011587-7e96a680-b995-11eb-8174-9028ccb8562d.png)

[2021-05-20 16:10] abrudz commented on #64
Looks perfect to me.

[2021-05-20 18:05] wismill commented on #210
Thanks! I can’t wait!

[2021-05-20 22:59] javbit opened #211 "[0.829] Latin small letter lambda with stroke appears without bar in bold, italic, and bold italic versions"
Top row is Greek small letter lambda (which is as expected). Bottom row is Latin small letter lambda with stroke. Notice that:
- In both bold variants, the stem's ends are vertically cut instead of horizontally like the base glyph.
- In all non-regular variants, the stroke is missing.

![lambda-matrix](https://user-images.githubusercontent.com/5223708/119058453-0a0f3800-b994-11eb-979b-0e23d54419b9

[2021-05-21 01:38] Porges commented on #64
@fabrizioschiavi I think `⊥` and `⊤` shouldn’t ever be double-width, I’ve never seen them presented like that before. I love how you’ve done the rest!

[2021-05-21 08:41] fabrizioschiavi commented on #208
I'm not ignoring this request. I'll work on it soon.
Thank you also to @jams2 for this patch! Is it works?

[2021-05-21 12:28] fabrizioschiavi commented on #211
I just fixed it. Please download again the font files from your account at fsd.it.
Thank you for letting me know this issue!

![Screenshot 2021-05-21 at 14 23 50](https://user-images.githubusercontent.com/1576663/119136640-37192480-ba40-11eb-89e9-bf95b4e1097b.png)

[2021-05-21 12:28] #211 closed

[2021-05-21 13:09] jams2 commented on #208
@fabrizioschiavi this is the output I get with the above settings:

![2021-05-21_14-05](https://user-images.githubusercontent.com/29293125/119141926-c7a23580-ba3d-11eb-98c8-6f86bb0d82a7.png)

The !=< ligature seems odd.

There is also some odd behaviour when moving the cursor forward and backwords over the ERROR (etc.) symbols:

![2021-05-21_14-05_1](https://user-images.githubusercontent.com/29293

[2021-05-21 15:56] AndreasDM commented on #182
Still not working, similar to [https://github.com/tonsky/FiraCode/issues/259](https://github.com/tonsky/FiraCode/issues/259)
Not sure what there is to do about this though.

[2021-05-22 00:22] javbit commented on #211
Thank you for fixing this so quickly!

[2021-05-22 05:43] eigengrau opened #213 "Git tree ligatures conflict with the use of pipes in shell"
Currently, some Git tree ligatures are triggered even where they are undesirable. E.g., the character sequence `|/` will be ligated in a pipeline using an absolute path, such as:

[code]

I wonder if it would make sense (or whether it is possible) to only ligate `|/` when it is followed by a space or another “tree-drawing” character.

Similarly, the sequence `/|` will be ligated in `ls /some/dir/|

[2021-05-22 08:23] fabrizioschiavi commented on #208
@jams2 could you donwnload and install again the font files and let me know if it works, please? Thank you!

[2021-05-22 08:32] fabrizioschiavi commented on #213
If a genius can find a solution to this conflict is very welcome but at the moment the only way to avoid this issue is to disable the OpenType feature `ss13`

[2021-05-22 09:46] eigengrau commented on #213
Yes, I agree that the issue with backslash escapes is probably not avoidable. As for the other issue (regular pipes): is it possible to exclude the ligatures unless there is one of either whitespace, backslash, or a pipe symbol, to the left/right? I think this way, the ligatures would still work with `git log --tree`.

[2021-05-22 15:06] jams2 commented on #208
Hi @fabrizioschiavi , the result is the same.

[2021-05-22 15:16] inflation opened #214 ""=/" maps to "≠" in 0.829, making troubles in shell scripts"
I often pass arguments like this:
[code]
And the ligature renders like:
[code]

[2021-05-22 16:12] fabrizioschiavi commented on #214
Sorry for the mess but I have already fixed
#206
Please download the font files again. Thank you!

[2021-05-22 16:12] #214 closed

[2021-05-26 21:17] Bobbbay commented on #40
Doesn't work on alacritty either :/

[2021-05-26 22:59] Porges opened #215 "=/ ligature is problematic in .829"
I have code that has things like `x=/path/to/something` and this renders strangely:

![image](https://user-images.githubusercontent.com/12575/119741749-75985e80-beda-11eb-9d45-af8cbd307706.png)

I think the `=/` ligature should probably go away. I’m not sure of any languages that use this (most that use slashes are `/=`).

[2021-05-27 06:06] fabrizioschiavi commented on #215
Thanks @Porges. It's been already removed. Download the font files again please

[2021-05-27 06:06] #215 closed

[2021-05-27 07:42] Porges commented on #215
@fabrizioschiavi that was quick, thanks!

[2021-05-27 22:38] arcfide commented on #118
I can confirm that this does not seem replicable anymore with the latest version of the font! Thank you.

[2021-05-31 13:09] jek291 commented on #210
I'm still waiting for it to get updated on MyFonts.

[2021-06-01 07:20] fabrizioschiavi commented on #210
MyFonts team let me know that the file size of PragmataPro Regular is too big (3.2Mb). It seems that this is blocking the update procedure. Feedbacks are very slow so I suggest you to create an account at [fsd.it](https://fsd.it/) and send me your MyFonts receipt so I can make you download the new font files without file size limitations. Sorry

[2021-06-01 07:50] wismill commented on #210
I confirm this is the best way. Thanks Fabrizio!

[2021-06-01 07:50] #210 closed

[2021-06-01 08:46] hoichi opened #216 ">= and <= ligatures in 0.829"
`>=` and `<=` used to look like greater or equal and less or equal signs. But in v 0.829 they look like this:
![image](https://user-images.githubusercontent.com/3592345/120294111-8e37b880-c2ce-11eb-85a0-2bcc8418bde9.png)

Maybe these new glyphs make sense for some languages, but not for the majority of languages (starting with JavaScript).

Iosevka, just for comparison:
![image](https://user-image

[2021-06-01 09:31] fabrizioschiavi commented on #216
Fixed. Download the font files again please. Thank you!

[2021-06-01 09:31] #216 closed

[2021-06-01 10:11] hoichi commented on #216
Confirmed. Grazie mille!

[2021-06-04 09:08] holmesmr commented on #208
Worth noting that using `ligature.el` initially appeared to work for me on Mac, but would consistently and predictably lead to extremely weird cases where Emacs would go into an infinite loop while ding-ing the bell constantly while doing regular editing involving ligatures.

[2021-06-07 07:28] svipas commented on #201
@jibsen @fabrizioschiavi But maybe this is intentionally left to have smaller spacing?

[2021-06-07 12:37] fabrizioschiavi commented on #201
I'll improve if possible. Thanks!

[2021-06-12 17:57] jfrankenau commented on #172
Yes, that looks good. Thank you!

[2021-06-12 17:57] #172 closed

[2021-06-16 10:02] fabrizioschiavi commented on #213
I think to found the solution with this latest release.
**Now git tree ligatures are activated by default and works fine in almost every IDE.**
Could you download the font files again and tell me if the issue disappeared also with you.
Thank you @eigengrau for your hint!

[2021-06-16 10:02] #213 closed

[2021-07-01 20:57] Porges commented on #182
Yeah, this is entirely Visual Studio’s fault.

[2021-07-29 15:31] x-ji commented on #208
Still doesn't seem to work ATM. Using the otf font also didn't work. Guess we need new mappings. At the moment I'm reverting back o 0.828.

[2021-08-01 14:14] fabrizioschiavi commented on #208
I've just added [pragmatapro-prettify-symbols-v0.829.el](https://github.com/fabrizioschiavi/pragmatapro/blob/master/emacs_snippets/pragmatapro-prettify-symbols-v0.829.el)
Please let me know if it works properly. Thanks!

[2021-08-01 14:14] #208 closed

[2021-08-01 14:23] blahgeek opened #217 "U+2026 different width in "Liga Regular" and "Liga Bold""
I think it's a bug that character U+2026 (ellipsis) is double-width in "liga regular", but single-width in "liga bold".

[2021-08-01 14:26] fabrizioschiavi commented on #217
You've right! I'll fix it asap

[2021-08-02 10:33] ghost opened #218 "Retina version?"
Fira Code Regular looks too thin on Retina screen, and the bold version is too bold, so they offered a Retina version that's a weight in the middle and works great on hires screens.
Pragmata Pro is fantastic, but I can only use it on my lower-density screens, it's difficult to read on Regular weight on a MacBook Pro and too thick in the Bold version.

Do you by any chance have a "Retina" version i

[2021-08-02 12:15] fabrizioschiavi commented on #218
Thanks for this request! I'll add the Retina version

[2021-08-03 15:27] blahgeek opened #219 "U+EAB4 and U+EAB7 not aligned in 11pt size in linux"
OS: archlinux
software: emacs

![2021-08-03_23-25_1](https://user-images.githubusercontent.com/1308450/128042567-69bd8ad1-c615-46ab-89e9-192af9857c11.png)
![2021-08-03_23-24](https://user-images.githubusercontent.com/1308450/128042554-6b8afb2c-607e-45e6-b37a-d85ca0e5878e.png)
![2021-08-03_23-25](https://user-images.githubusercontent.com/1308450/128042564-ef3e0283-7566-4724-b76a-317693001719.png)

[2021-08-03 15:58] blahgeek opened #220 "Some ligatures missing in 0.829"
It seems that some ligatures are missing in version 0.829 (compared to 0.828). To name a few: `!!`, `||`, `***`, `*=`, `::`, ... Is this expected?

If these ligatures are removed on purpose for some reason, is it possible to still include the glyphs? In that way, for example, emacs users can still use "prettify-symbols" to use them when needed.

[2021-08-03 18:32] fabrizioschiavi commented on #220
These ligatures are now replaced by GPOS positioning coordinates.
Practically the result is exactly the same of version 0.828 but it require less loading time than before

[2021-08-03 18:32] #220 closed

[2021-08-03 18:36] fabrizioschiavi commented on #219
I'll fix it. Thank you!

[2021-08-04 14:58] blahgeek commented on #220
Thanks for your reply!

(So those ligatures no longer work in emacs with `prettify-symbols` approach (as provided in "emacs_snippets"). But I can get it working using https://github.com/mickeynp/ligature.el)

Also, is it possible to have a list of such "GPOS-enabled" ligatures?

[2021-08-05 15:37] benjamin-rood commented on #203
@LevitatingOrange Hi, I am trying to make use of the new ligatures so I can see glorious git trees, too! Also on linux, how do you enable them system-wide?

[2021-08-05 15:47] benjamin-rood opened #221 "Documentation needed for uses wanting to use OTF features"
Hi Fabrizio & fellow PragmataPro gang members :wink:

I've been using PP as my coding and terminal font for more than 12 months, and I will never go back to anything else.

I have the full desktop PP font set, and now I want to maximise the joy I get from using the font every day by enriching my terminal with these beautiful trees:

![image](https://user-images.githubusercontent.com/10102132/12837

[2021-08-05 15:52] fabrizioschiavi commented on #220
This is the list of GPOS-enabled ligatures, that must works everywhere without `prettify-symbols`:

[code]

[2021-08-06 06:38] doplumi commented on #218
Thanks! If you need a beta-tester, hit me up :)

[2021-08-06 14:31] benjamin-rood commented on #218
I run a 4K display on Linux, I'm also interested in a "Retina" weight.

Realted note: I find the Bold weight much too heavy for coding, on any display, I would love something closer to a "semibold" that I can make use of...

[2021-08-09 09:16] x-ji commented on #208
Thanks for the update 👍 . Unfortunately this list seems to result in unmatched parentheses in my Emacs for some reason and prevents it from starting up... I think some parentheses character in the list might need to be escaped. I wonder if anybody else has the same issue when they tried to use it?

[2021-08-09 09:24] x-ji commented on #208
There is one place where an escape is needed. I'll make a PR.

[2021-08-09 09:25] x-ji commented on #208
Still, some combinations don't seem to be rendered as ligature. I wonder if it's related to https://github.com/fabrizioschiavi/pragmatapro/issues/220

[2021-08-09 09:25] jams2 commented on #208
@x-ji https://github.com/fabrizioschiavi/pragmatapro/pull/222

[2021-08-09 09:30] x-ji commented on #208
lol beat me by a few minutes 😄

[2021-08-09 09:32] jams2 commented on #208
I had fixed it on my machine but forgot to open a PR :sweat_smile:

[2021-08-13 17:59] malob opened #224 "≤ (U+2264) and ⪇ (U+2A87) don't line up correctly"
<img width="71" alt="image" src="https://user-images.githubusercontent.com/2914269/129400332-1e884689-e5c3-48be-a4c2-b02d45eb0594.png">

[2021-08-13 18:43] fabrizioschiavi commented on #224
Thanks @malob ! I'll fix it

[2021-08-18 20:15] bdeshi commented on #213
@fabrizioschiavi can this be disabled by default? random pipe-slash combinations started looking weird now.

![image](https://user-images.githubusercontent.com/3525376/129965703-b68351e8-110f-4c6b-8093-ec7bcaf8fe9d.png)

[2021-08-23 08:54] svipas commented on #218
Yeah "Retina" version would be awesome. I suggest to use font weight `450` for it like "Fira Code" did. And create "Retina" version for all font variants (liga, mono, etc.).

[2021-09-05 02:10] michaelmcdonald opened #225 "Sublime Text Stylistic Settings"
I recently discovered that some of the ligatures (specifically markdown checkboxes) need to be enabled via a "stylistic setting" in Sublime Text thru the use of `font_options` (or at least I believe that is how they are to be enabled). I have this as my settings:

[code]

And while I can confirm that Sublime Text will utilize _some_ ligatures (such as `!=`) I cannot get it to show the markdown che

[2021-09-07 10:09] dangh commented on #225
@michaelmcdonald Sublime Text only support ss01 - ss10

[2021-10-17 11:09] andreypopp opened #226 "Question about "^^" -> "∀" ligature"
Hello,

I'm curious what's the reasoning for this ligature to exists? `^^` looks more like "catenation" and not "universal quantifier". Is there any way to disable that specific ligature?

Thanks!

[2021-10-17 19:55] andreypopp commented on #226
Yeah, me too! Unfortunately in most languages which uses universal quantifiers" (Coq, Agda, Idris) it is rather verbose — `forall`, `\forall` and so on.

[2021-10-20 04:10] dead10ck opened #227 "Updates after 1.0"
Hi, this looks like a really beautiful font, and I'm considering purchasing. One thing that stood out to me on the font's web page is:

Does this mean that once a 1.0 is declared that all users will have to purchase another license to receive updates? Considering the hefty price tag, if this is the case, that would stop me from purchasing.

[2021-10-20 12:37] fabrizioschiavi commented on #227
No, you will don't pay again for 1.0 version

[2021-10-20 12:45] dead10ck commented on #227
Awesome, thanks so much for clarifying, that makes much more sense!

[2021-10-20 12:45] #227 closed

[2021-10-23 01:11] Game4Move78 opened #228 "OpenType stylistic set SS13 displaying in terminal but not with "git log --graph""
I can draw the lines in terminal or pass a file to "less" and it displays the glyphs fine:
![image](https://user-images.githubusercontent.com/83040764/138536515-22f20702-22f2-4322-ae5b-380abf439ee5.png)

As well it works in LibreOffice:
![image](https://user-images.githubusercontent.com/83040764/138536619-62590ba6-de12-4022-8840-79066e016ce5.png)

But when I run "git log --graph --all" I get this:

[2021-10-25 05:23] poetaman opened #229 "Create light version of pragmata pro"
Create light version of pragmata pro

[2021-10-25 05:23] poetaman opened #230 "Create non-monospace version of pragmata pro"
Create non-monospace version of pragmata pro, would be ideal for short body texts!

[2021-10-26 06:42] inflation opened #231 "Missing Nerd font icon"
<img width="73" alt="Screen Shot 2021-10-26 at 2 41 25 PM" src="https://user-images.githubusercontent.com/2375962/138822467-9c063f79-5a3b-4abf-8f83-54aa3b182397.png">
<img width="54" alt="Screen Shot 2021-10-26 at 2 41 35 PM" src="https://user-images.githubusercontent.com/2375962/138822479-2457a967-132a-476c-b626-6cfea7ced06f.png">

Former is the Hack font with Nerd icons.

[2021-11-03 01:10] inflation commented on #231
Another one (Rust icon):
<img width="113" alt="CleanShot 2021-11-03 at 09 09 41@2x" src="https://user-images.githubusercontent.com/2375962/139980852-7eb27974-52d2-4e33-9ce8-7faa410bada7.png">
<img width="49" alt="Screen Shot 2021-11-03 at 9 09 30 AM" src="https://user-images.githubusercontent.com/2375962/139980917-83ed87a3-724d-4dca-a998-fb32684be69f.png">

[2021-11-04 16:20] knottio opened #232 "∉ (U+2209) appears broken to me"
Here's a screenshot of what I see:

![Screenshot](https://user-images.githubusercontent.com/29638828/140377862-a331c5c2-9a86-4c60-af6d-a575474b9d09.png)

[2021-11-04 17:47] fabrizioschiavi commented on #232
I just uploaded the fixed version, please download it again. Thank you!

[2021-11-04 17:47] #232 closed

[2021-11-08 05:44] inflation commented on #231
Wrong icon:
<img width="118" alt="image" src="https://user-images.githubusercontent.com/2375962/140690175-d525ba84-0b7d-46e4-baea-1b01983918d6.png">
<img width="360" alt="image" src="https://user-images.githubusercontent.com/2375962/140690197-5f1f49a1-ee47-44a6-96b5-67c71c7ff98f.png">

[2021-11-23 15:40] mkarmona opened #234 "variable version with at least one adjustable axis"
@fabrizioschiavi is it worth exploring a variable version of the font with one or two axes to adjust so users can meet their particular requirements? As an example, [Cascadia offers a variable version](https://github.com/microsoft/cascadia-code#font-formats) with a weight axis for upright and italic so the user can adjust the weight axis in each variable font. Whether italic can become another adj

[2021-11-23 18:44] fabrizioschiavi commented on #234
This is exactly the goal in the near future: to create a variable font version of PragmataPro.
It's one of the most ambitious goal of all times. 10,000 glyphs with TrueType hinting as variable font?!
Probably the first font designed with this characteristics.

[2021-12-03 17:12] nashpatty opened #235 "comma/semi-colon, curly braces, and underscore characters"
@fabrizioschiavi Questions about some minor potential changes:

1. The _comma_ part of the semi-colon and the comma itself are two different characters. It's a small detail but I was curious if it's possible to unify those characters.
<img width="131" alt="Screen Shot 2021-12-03 at 12 08 26 PM" src="https://user-images.githubusercontent.com/28615881/144643825-d47f643a-b309-4684-ba11-e9c22e6accd0.p

[2021-12-03 17:30] fabrizioschiavi commented on #235
I'll fix all this soon. Thanks @nashpatty !

[2021-12-03 21:20] astrolemonade opened #236 "Create medium weight"
The font is awesome!
Thank you for creating it and working on it to this day and beyond!
It would be great to have a medium variant or a semibold one.
The current bold version is a little bit too bold.
Thank you!

[2021-12-03 23:18] xguerin opened #237 "Puzzling ligature behavior with /| and /|/"
Hello !

I have a small question regarding the behavior of the ligatures. When enabled, Kitty terminal combines `/`, `|` and `\` together into what looks like Kanji characters. I looks at the list of ligatures provided in the font and could not find those combinations.

Kitty allows to disable "general ligatures" and only keep the "calt" set, but that does not seem to make any difference.

Would t

[2021-12-04 20:49] fabrizioschiavi commented on #236
I'll work on it, thanks @cata0309 !

[2021-12-07 16:58] nashpatty commented on #235
@fabrizioschiavi a question; when you do get a chance to fix these issues, how are the updates pushed out for people that already purchased the font?

[2021-12-10 20:51] akoppela commented on #235
@nashpatty From the [website](https://fsd.it/shop/fonts/pragmatapro). Most likely it will be a new version.

And also after 1.0 the versions with my fixed errors will be free.
Only some extra improvements and new features will be at payment but OPTIONAL.
The actual version is 0.829

[2021-12-14 22:24] andreypopp opened #238 "BQN symbols questions"
Hi,

I'm using BQN now with Pragmata Pro and noticed `⟜⊸` are not aligned while it feels like they should be:

<img width="146" alt="Screenshot 2021-12-15 at 01 21 18" src="https://user-images.githubusercontent.com/30594/146088654-32642097-25f8-4702-9abe-9bde792e6444.png">

Also for `○∘` I've noticed that they render in an interesting way in bold (tested in kitty and macOS TextEdit.app):
<img widt

[2021-12-20 19:11] fabrizioschiavi commented on #238
Thank you @andreypopp ! I'll fix it.

[2022-01-05 18:17] lastsecondsave opened #239 "Ligatures for >= and <= are glitching in Sublime Text"
They appear cropped:

![](https://user-images.githubusercontent.com/6729879/113787906-7597a000-976e-11eb-9cec-d7c677492a0a.png)

This is Sublime Text 4126 on Windows 10. The DPI is 200% but it's the same with any other value.

Other apps that support ligatures do render them correctly so I suppose it's Sublime's issue (reported at https://github.com/sublimehq/sublime_text/issues/4055). But at the

[2022-02-07 22:20] nashpatty commented on #235
I read that on the site, but how is the newer version is distributed to existing owners of the font?

[2022-02-08 08:02] fabrizioschiavi commented on #235
@nashpatty As always. From your account at [fsd.it](https://fsd.it/my-account/) you'll be able to download the newest versions

[2022-02-08 14:17] nashpatty commented on #235
@fabrizioschiavi I didn't register for an account before purchase :sweat_smile:
is there still a way for me to add that order to my account? I have the confirmation, and download link in my email.

[2022-02-08 14:23] fabrizioschiavi commented on #235
@nashpatty ah ok! Sorry this is my fault: for a short time I let visitors make orders without to be forced to create an account. A bad experience! I'll link your past order to your account soon so you'll be always updated. Thanks!

[2022-02-08 15:25] nashpatty commented on #235
@fabrizioschiavi thank you!

[2022-02-18 08:26] krasnovpro opened #240 "Latin vs Cyrillic"
How about making Cyrillic glyphs visually distinct from Latin glyphs?

[2022-02-18 09:33] fabrizioschiavi commented on #240
Could you make some examples to understand better, please?

[2022-02-18 12:49] wismill commented on #240
I do no think this is a good idea: confusable characters should be handled by your editor rather than the font. For instance VS Code implements [this feature](https://code.visualstudio.com/updates/v1_63#_unicode-highlighting). There are [plenty of confusable chars](https://util.unicode.org/UnicodeJsps/confusables.jsp), so handling them should be preferably automatised to miss none.

[2022-03-15 22:43] selfish opened #241 "Glitch when typing "=><" with liga - first chars hide"
Tested on OSX, in Sublime Text, VSCode, and IntelliJ IDEA, same with all:

https://user-images.githubusercontent.com/7327741/158484270-f98b20a5-7405-4c5b-bb6b-41c3ab933dd7.mov

[2022-03-16 07:19] fabrizioschiavi commented on #241
Oh wow! Thanks to letting me know it!

[2022-03-16 07:22] fabrizioschiavi commented on #239
Sorry for my late response, I'll investigate about this. Thanks to letting me know it

[2022-03-27 18:38] gnuvince commented on #235
I just want to add my +1 to this issue and give my appreciation to @fabrizioschiavi for looking into it.

The underscores, in particular, are of interest to me since I deal with a system that replaces invalid characters with underscores and when debugging I am often looking at a sequence of 4–5 underscores in a row.

[2022-04-05 02:06] RationalG opened #242 "Font rendering issue on Windows 10"
First of all, I wanted to thank you for your work on Pragmata Pro, it really looks fantastic. I bought the whole suite but I have problems with it.
It's a little bit difficult to explain, but it seems very similar to this issue : https://github.com/fabrizioschiavi/pragmatapro/issues/209
Whenever I use it with a font size of >=18, the font is rendered **somewhat** correctly. Here is a screenshot us

[2022-04-06 04:00] RationalG commented on #242
After having done a lot of research & testing I just realized neither Windows neither Linux are able to render this font as good as MacOS does.
I undestand this is not your fault and that you can't really solve that, since the render method is done differently in each OS. But I feel that it should be mentioned somewhere. Because if you are on Windows or Linux, you can never make PragmataPro looks

[2022-04-06 04:00] #242 closed

[2022-04-10 12:30] ciscohack opened #243 "PragmataPro Bold is too much thick and blur font"
I used PragmataPro bold and it's too much bold and quality also degrade i feel and blur. Thought to report. Any reason PragmataPro not have medium font typeface. I have not seen font eye pleasing compare to new font Operator Mono,CodenewRoman and cascadia .. i watched the youtube video about font also

Both font bold typeface used and clear difference see pragmata is not crisp/sharp same is happen

[2022-04-12 06:43] BeatScherrer commented on #133
don't forget that there's also this vscode setting:
[code]

[2022-04-14 18:47] akhar commented on #239
<img width="192" alt="Screenshot 2022-04-14 at 19 45 38" src="https://user-images.githubusercontent.com/7146472/163456478-c121a410-2944-48d2-8f89-58366b1f2843.png">
@lastsecondsave How did you get that fancy ligatures? A have arrows in ST and WebStorm as well.

[2022-04-14 18:54] fabrizioschiavi commented on #239
@akhar if you download the font files again from [my site](https://fsd.it/my-account/) you can see the old more/less-equal ligatures. Sorry for the mess. Thanks!

[2022-04-15 07:15] akhar commented on #239
Version the same, but it works!
Thanks for amazing font!

[2022-04-27 19:28] astrolemonade opened #244 "[Request] OpenType feature similar to ss09 but not italic."
Hello!
I really like this font family. Thank you for creating it.
The other day I was looking into the list of open type features supported by Pragmata Pro. The **ss09** is great.
It would be awesome to have another variant that is not italic but on the same style.
I am referring to this style:
![image](https://user-images.githubusercontent.com/35623921/165605151-13954043-5cdb-4d06-8ba1-6b339fbc65

[2022-05-04 09:03] fabrizioschiavi commented on #244
Thanks @cmarincia for the appreciation and for the suggestion!
Years ago I started to work at the serif version of PragmataPro and if I'll find time I'll release it.

[2022-05-04 17:54] astrolemonade opened #245 "[Request] Ligatures for keep a changelog headers"
Hello!
https://keepachangelog.com/en/1.0.0/
This is a standard in terms of changelogs. It would be a nice feature to add calts for the categories that are mentioned.
![image](https://user-images.githubusercontent.com/35623921/166749625-c3126bcb-9566-413d-9c3e-23bd47203421.png)
Thank you!

[2022-05-04 19:24] fabrizioschiavi commented on #245
This is a good suggestion! Thank you!

[2022-05-04 19:35] fabrizioschiavi commented on #243
Sorry but I don't see nothing of what you described. Probably it's all a question of taste. I'll create a Medium weight and all will become more acceptable for you. Thanks to let me know your point of view

[2022-05-04 19:57] ciscohack commented on #243
@fabrizioschiavi Thanks for your response. I wish to see more quality improvement in future releases. I don't know might be I am not able to explain you well but font render quality I feel is less compared to many other fonts

I request you to add more glphy support and also to handle icons in the zsh shell. Thanks these are my observations and suggestion

[2022-06-03 14:16] sgigou opened #246 "Stylistic sets are hard to use in IDEs or terminals"
You made awesome stylistic sets for Pragmata Pro – `ss06` and `ss09` are beautiful – but sadly, they are almost unusable in a development environment. Stylistic sets are hard to activate, and even more to activate them in some contexts only – for example, using the script set only for comments.

I know some concurrents use custom downloads to allow to customize the font without having to use styli

[2022-06-09 18:46] mkarmona commented on #234
@fabrizioschiavi, is there any estimated date for the release [0.830](https://github.com/fabrizioschiavi/pragmatapro/projects/4#card-73522339)? There are 16 items piled up in the ToDo column. I would like to know if a variable version of the font will come for the next release. Thanks.

[2022-06-11 15:27] fabrizioschiavi commented on #234
You've right @mkarmona it passed time from 0.829 and I feel the need to update PragmataPro as soon as possible but I can't find time because I'm working at big projects in these years. I hope to come back to PragmataPro asap

[2022-06-11 15:34] fabrizioschiavi commented on #246
I know it. It's important to have the possibility of to customize PragmataPro as other fonts. In this field I need help because I can't do it and the programmers I contacted leave me alone.
**If someone can build this customizer please do not exitate to contact me. Thanks!**

[2022-06-11 15:55] buzzlaker commented on #246
@fabrizioschiavi I could build this if you would like to discuss.

[2022-06-14 18:53] nashpatty opened #247 "download/use older version of the font?"
I was wondering if there's a way to download an older version of the font.
I submitted an issue [235 here](https://github.com/fabrizioschiavi/pragmatapro/issues/235), for the comma/semi-colon character and the brace character.
Is there a way for me to use a version of the font before these changes were made, until these changes are resolved?

[2022-06-20 10:15] fabrizioschiavi commented on #247
I sent you via email the older version. Thank you!

[2022-06-20 10:15] #247 closed

[2022-06-25 12:57] Kungsgeten opened #248 "Strange umlaut scaling at different font sizes"
![pragmata_error](https://user-images.githubusercontent.com/3976377/175774240-ddea5bf9-c63b-41f0-949f-42416608c2ef.png)

Hi! I just bought PragmataPro and got buyer's remorse when I saw how hard it was to read the ÄÖäö characters (I'm Swedish so these characters are very common). I could hardly notice the umlaut and when skimming text the characters looked like regular AOao. Then I noticed that zo

[2022-06-25 14:45] fabrizioschiavi commented on #248
Hi @Kungsgeten ! I'm sorry about your unsatisfaction.
Which software do you used in this screenshot?

[2022-06-25 15:46] Kungsgeten commented on #248
In the screenshot I used LibreOffice Writer (same issues on both Linux and Windows), but I first noticed it in Emacs. I can try some more software if it helps. I'm using the ttf-files.

[2022-06-25 18:26] Kungsgeten commented on #248
I got the same result using Notepad and also Notepad++. It looks correct at 15pt, but anything under that looks strange.

[2022-06-26 08:34] fabrizioschiavi commented on #248
You've right! Damn referenced glyphs… I'll fix all soon

[2022-06-26 19:10] Kungsgeten commented on #248
Update: The problem isn't there when using the otf files instead of ttf.

[2022-07-28 13:31] lastsecondsave commented on #237
@fabrizioschiavi Just to clarify. This combinations look like git tree ligatures:

![image](https://user-images.githubusercontent.com/6729879/181516055-acc85da1-f9ff-4e6d-9d3b-cc691ed50044.png)

And these should be available in ss13 only. But they are active by default in 0.829. Is this indented? Thanks.

[2022-07-30 08:58] fabrizioschiavi commented on #237
@lastsecondsave yes it was intended because I supposed `|` `\` `/` combinations was very rare

[2022-07-30 17:49] lastsecondsave commented on #237
Thanks. I agree they are quire rare, but I see `\|` from time to time, mostly used to escape `|` in regexes. Just FYI.

[2022-08-19 09:24] wezm opened #249 "Idea: Colon ligature for seven segment characters"
Just an idea for your consideration. It would be great for displaying times and durations with the seven-segment display glyphs if the colon was positioned higher up vertically when surrounded by those glyphs. This is what it looks like at the moment:

<img width="106" alt="Screenshot from 2022-08-19 12-03-19" src="https://user-images.githubusercontent.com/21787/185526614-41281798-f991-4681-bbc9-6

[2022-08-19 09:50] fabrizioschiavi commented on #249
I like the iseas, a lot! Thanks!
But, what happens with IPv6 like this?
`2345:425:2CA1:0000:0000:567:5673:23b5`

[2022-08-19 09:53] vancura commented on #249
I love the idea too. And, well, such a "clock" with an LCD-style IP6 display would be so good! :)

[2022-08-19 09:56] wezm commented on #249
I think it would be less likely in general to be printing an IPv6 address in 7-segment digits but more vertically centred colons would probably work well there too.

That's what I'm working on now that prompted this issue :)

[2022-08-19 10:04] fabrizioschiavi commented on #249
Ok, let's try it

[2022-08-22 17:11] dminuoso commented on #181
Bug reproduces on emacs 28.1 without cairo for me

[2022-08-23 06:30] akoppela commented on #181
Same for me, I do use `—without-Cairo` as workaround.

[2022-08-29 12:41] cormullion commented on #249
That's a nice idea, I'm stealing it... :)

![lcd](https://user-images.githubusercontent.com/52289/187203166-6bc87bcc-1161-4332-b126-373d45161a5a.gif)

Feature code for this is:

[code]

seems to work. Improvements welcome... :)

[2022-09-24 09:55] vricop commented on #231
Missing icons. It looks like there's quite a few icons missing. I tink the missing icons are the ones from **[https://microsoft.github.io/vscode-codicons/dist/codicon.html](codicons)**, the VSCode icons, NerdFonts come with them, but if search for them in the help files (All_chars.rtf) I can't seem to find any.

Can you fix it please?

Thanks in advance great font, astonishing work, keep it up.

!

[2022-09-24 11:08] fabrizioschiavi commented on #231
Thanks @vricop to help me in fixing this situation!

[2022-09-26 16:00] vricop commented on #231
## More on missing NerdFont glyphs

I've been making some tests in order to figure out what's going on with the missing icons. First of all here's screenshot of DankMono, a premium font that I bought no long ago:

![DankMono Nerd Font](https://user-images.githubusercontent.com/3494708/192318427-2e3c5d45-4f8c-411b-81de-672c656fafe6.png)

### This is my vim configuration for using codeicons in DankM

[2022-09-27 06:41] vricop commented on #231
## Temporary fix for those with missing icons

I've just got it working! I've tried patching PragmataPro Liga with **NerdFont Patcher** and I've got it right in the second try with these flags (options):

[code]

Note: there's no --careful flag, which means it'll overwrite existing glyphs

![image](https://user-images.githubusercontent.com/3494708/192451935-681b3ed5-4a02-4b51-9ba0-595f2a3b9bbb.png

[2022-10-24 20:24] mkarmona commented on #234
Hi @fabrizioschiavi. It could be great if you could prioritise a variable version of Pragmata Pro and a way to configure it, like Input from DJR.

[2022-10-25 07:27] fabrizioschiavi commented on #234
I’m at a good point with the Variable Font version.

https://user-images.githubusercontent.com/1576663/197709696-75002f0a-c7d1-46ee-b53a-6aec83f944a3.mov

I still need of a good programmer to make the configurator. Can you help me?

[2022-10-26 19:23] mkarmona commented on #234
@fabrizioschiavi, I am afraid I am busy right now. Although, it will be great if we could draft the task.

- Does the configurator need to run on the user's side (client side)?
- What font features do we want to configure?
- What tools do we need to configure the font?
- is there any tool on GitHub that can be used for this purpose?
- ...

[2022-10-27 07:41] fabrizioschiavi commented on #234
The configurator I have in mind is very similar to the existing Iosevka or Input configurators:
based on web browser (no standalone softwares) where only the PragmataPro license owners can access, choose weights of the font, choose the OT features and download the font files.
I suppose this web page needs to interact with the existing database at fsd.it
The OpenType features are the ones presents

[2022-10-30 22:20] TerminalFi commented on #239
This is likely a Sublime Text issue.

[2022-11-01 11:57] lastsecondsave commented on #239
BTW for OpenType version of Pragmata these glyphs are rendered correctly. So if you have cropped characters, install otf files instead of ttf ones.

[2022-11-04 21:16] amanvm opened #250 "Nerd fonts glyphs for PragmataProMono stopped working for macOS Ventura"
I think this is the case for all PUA areas as multiple disjoint areas are not rendered now. Check the screenshot below. On front is the test .txt file with all glyphs you have put on your website. On back (transparency) is the same area that shows some of the glyphs affected.

Font version: 0.829 or 0.828
macOS: 13.0 (22A380), with latest xcode command line tools installed.

Note: I have already c

[2022-11-07 04:33] vsr3y opened #251 "Full-Width Stylistic Set 'fwid' not working in VSCode."
![Notepad_DVs02kthDc](https://user-images.githubusercontent.com/58370218/200226803-d4cd7438-4626-44c8-a864-d7a0e815401b.gif)
'fwid' stylistic set is not working in VSCode; other stylistic sets are tested and confirmed to work properly.
Am I missing something? Is there some CSS property that needs to be set for this to work
This seems like a language-specific issue since only Japanese use full-widt

[2022-11-07 07:49] fabrizioschiavi commented on #251
In my Mac it works adding
 `"editor.fontLigatures": "'fwid'" `
 in settings.json

<img width="218" alt="Screenshot 2022-11-07 at 08 44 58" src="https://user-images.githubusercontent.com/1576663/200254371-ffc3ecfc-5b8c-4b9c-989b-44316d9b7496.png">

Now I'll check also in Windows version

[2022-11-07 07:53] fabrizioschiavi commented on #250
Oh wow! Weird!
I’ll upgrade to MacOS Ventura and I’ll make you know soon.
Thanks to letting me know it

[2022-11-07 08:22] fabrizioschiavi commented on #251
Also in Windows it works.

![Immagine 2022-11-07 090646](https://user-images.githubusercontent.com/1576663/200258495-fc96c167-3d7c-49c8-b03c-aeadae45f37c.png)

I can't reproduced it using PragmataPro Liga, obviously PragmataPro Mono Liga can't be used because it's monospaced and can't include double-width glyphs. Ligatures are composed by two glyphs, as explained [here](https://github.com/IBM/plex

[2022-11-07 08:22] #251 closed

[2022-11-13 14:13] Yanior commented on #250
@fabrizioschiavi Hello! Do you have some news about this issue? I have the same problem in iTerm2 (MacOS Ventura)

[2022-11-13 16:39] fabrizioschiavi commented on #250
I've searched about the changes applied by Apple at PUA areas but I haven't found nothing. If someone is more lucky than me please let me know here. Thanks!

[2022-11-21 00:39] amanvm commented on #250
Not sure if it would be of help to you, but patching pragmatapro files with https://github.com/ryanoasis/nerd-fonts's font-patcher script works. The result from it renders the glyphs totally fine in all applications...

Though it's not a solution as it replaces those nerd font glyphs with its own afaik (so it won't be pragmatapro's glyphs). Am not sure if you could "diff" the font files and see wh

[2022-11-21 09:14] fabrizioschiavi commented on #250
Ah ok, this change the situation. Thank you @amanvm !

[2022-11-22 12:06] Yanior commented on #250
@amanvm I have some troubles with patching of fonts. I installed fontforge by using homebrew and after this I have some problems... Can you help me, please? Can you write what did you do step by step?

[2022-11-24 10:17] poetaman opened #252 "PETSCII C64 Commodore 64 art not rendered correctly"
PETSCII art is not rendered correctly with pragmata pro. It does with some fonts dedicated to PETSCII art.
Resources:
1. Mapping: https://style64.org/c64-truetype
2. Font that works (C64 Pro Mono): https://style64.org/c64-truetype
3. Sample PETSCII art below is from lbs: https://littlebitspace.com

[code]

This is how it renders with pragmata pro and C64 Pro Mono:
1. Pragmata Pro
<img width="317"

[2022-11-24 19:58] amanvm commented on #250
@Yanior You need font-patcher installed too. Here are the steps:

1. Open url: https://www.nerdfonts.com
2. Scroll to section "Font Patcher Script", it's at the bottom of the page.
3. Download Patcher.
4. Now from terminal ``cd <directory_of_pragmatapro>``
5.
[code]
Result will be in ``<directory_of_pragmatapro>/patched``.
6. Repeat step 5. for other font files too.
7. The name of the resulting fi

[2022-11-25 11:25] Yanior commented on #250
@amanvm Thank you very much!

[2022-11-25 23:44] levifig commented on #203
Sorry to ping on this older thread, but I'm having the same problem.
I just bought and downloaded the fonts today and SS13 is missing from my package as well... :o
I do get SS14, just no SS13...
[code]

[2022-11-26 08:05] fabrizioschiavi commented on #203
@levifig don't worry: SS13 means [Git Tree feature](https://fsd.it/wp-content/uploads/PragmataPro-command-line-git-tree.png).
In version 0.829 was removed because this feature is enabled by default.
Sorry for the mess.

[2022-11-26 23:12] levifig commented on #203
That makes sense, thank you. They don't seem to be displaying too well for me, but I'll try in a different TE before I consider it a "bug"... :)

But, for what is worth, I think I'm missing the checkboxes though...

[2022-11-27 06:05] librarianmage opened #253 "Question: What is "Needle" referring to?"
Hello,

On the font page there is a section in the Programming Language / Context section titled "Needle". What is that referring to? A programming language, a program, a type of diagram? My searches are failing me.

![](https://fsd.it/wp-content/uploads/2015/12/PragmataPro_Needle.png.webp)

[2022-11-27 08:49] fabrizioschiavi commented on #253
I've no big knowledge on programming languages but I think [this](https://www.nongnu.org/needle/) is the official Needle page

[2022-11-27 09:03] fabrizioschiavi commented on #252
C64 Pro Mono use PUA Unicode areas (Exxx) and must be updated because since years Unicode establish a new area for [Symbols for Legacy Computing](https://www.unicode.org/charts/PDF/U1FB00.pdf) (U1FBxx). PragmataPro follows correctly this new standard.

[2022-11-27 09:03] #252 closed

[2022-11-27 17:04] fabrizioschiavi commented on #250
I found time to investigate to this issue.
Mono versions never included Nerd fonts glyphs, by design, because they are double width glyphs.
Inserting these glyphs on Mono(spaced) versions they can't be anymore monospaced fonts.
Streching the glyphs takes at terrible and useless results.
<img width="300" alt="Screenshot 2022-11-27 at 17 59 48" src="https://user-images.githubusercontent.com/1576663/

[2022-11-27 17:04] #250 closed